body {
    font-family: 'Source Sans Pro', sans-serif;
    width:100%;
    margin: 0;
    padding: 80px 0 0 0;
}

p {
    margin: 0;
}

h1 {
  font-size: 2.441em;
  font-weight: 300;
  color: #3f3c30;
}
h2 {
  font-size: 1.953em;
  font-weight: 300;
  color: #544948;
}
h3 {
  font-size: 1.563em;
  font-weight: normal;
  color: #544948;
}
h3.service-name {
  font-size: 1.25em;
}

@media (max-width: 768px) {
  {
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  {
    width: 750px;
  }
}
@media (min-width: 980px) {
  {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  {
    width: 1170px;
  }
}


#header {
    position: fixed;
    left:0;
    right:0;
    top:0;
    width:100%;
    height: 80px;
    box-sizing: border-box;
    padding: 0 30px;
    background: white;
    border-width: 0 0 1px 0;
    border-color: lightgray;
    border-style: solid;
    z-index: 5;
    display: flex;
}

.title {
  flex: 1;
  margin: -15px 0;
  text-align: center;
}

.brand-logo {
  flex: 1;
  padding-top: 20px;
}

.nav-menu {
  flex: 1;
  margin: 30px 0;
  text-align: right;
}

.nav-menu a {
    margin: 15px;
    text-decoration: none;
    color: gray;
}

#GlobalStatusSummary h1 {
  font-size: 5em;
  margin: 0;
}

#services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0;
    margin: 50px;
    border-width: 1px 0 0 1px;
    border-color: lightgray;
    border-style: solid;
}

#status-header {
    width: 100%;
    box-sizing: border-box;
    border-width: 0 1px 1px 0;
    border-color: lightgray;
    border-style: solid;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
}

.status-legend {
    display: flex;
}

.status-legend-item p {
    margin-right: 15px;
}

.status-item {
    width: 100%;
    box-sizing: border-box;
    border-width: 0 1px 1px 0;
    border-color: lightgray;
    border-style: solid;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.status-text {
    display: flex;
    flex-direction: column;
}

.service-name {
    font-weight: bold;
}

.status-icon {
    display: flex;
    flex-direction: column;

}

.section {
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    text-align: center;

    iframe {
        margin: 0 auto;
        margin-bottom: 50px;
        border: 1px solid lightgray;
    }
}
.section .status-legend {
  display: block;
  font-size: 1.563em;
  font-weight: normal;
  color: #544948;
}
.section .status-icon {
  font-size: 2.441em;
  font-weight: 300;
}


.anchored {
  padding-top: 80px;
}

@media (min-width: 802px) {
    .status-item {
        width: 50%;
    }
}

.pending .status-message {
    font-style: italic;
    animation-name: fade;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.pending .status-icon {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes spin {
    // should be good for all supported browsers:
    // https://caniuse.com/#feat=css-animation
       from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
