body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  width:100%;
}

#app {
  margin: 0 auto;
}

p {
  line-height: 1.5em;
  margin: 0 auto 15px;
  max-width: 45em;
}

a, a h3.service-name {
  border-bottom: 1px solid transparent;
  color: #006cb8;
  text-decoration: none;
}

a:hover, a:focus {
  border-bottom: 1px solid #00548f;
  color: #00548f;
  text-decoration: none;
}

a:active {
  border-bottom: 2px solid #00548f;
  color: #00548f;
  text-decoration: none;
}

.brand-logo a:hover,
.brand-logo a:focus,
.brand-logo a:active {
  border-bottom: none;
  text-decoration: none;
}

h1 {
  color: #3f3c30;
  font-size: 2.441em;
  font-weight: 300;
  line-height: 1em;
}

h2, .status-legend {
  color: #544948;
  font-size: 2.441em;
  font-weight: 300;
  line-height: 1em;
  margin: 0 0 15px 0;
}

h3 {
  color: #544948;
  font-size: 1.563em;
  font-weight: normal;
}

h3.service-name {
  font-size: 1.25em;
  margin: 0;
}

@media (max-width: 768px) {
  #app {
    padding: 0 10px;
  }
  h1 {
    font-size: 1.563em;
  }
  h2, .status-legend {
    font-size: 1.953em;
  }
  .display-small {
    display: inherit;
  }
  .display-large {
    display: none;
  }
}
@media (min-width: 768px) {
  #app {
    width: 750px;
  }
  #header {
    margin: 0 auto;
    width: 750px;
  }
  #footer {
    width: 750px;
  }
  .display-large {
    display: inherit;
  }
  .display-small {
    display: none;
  }
}
@media (min-width: 980px) {
  #app {
    width: 970px;
  }
  #header {
    margin: 0 auto;
    width: 970px;
  }
  #footer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #app {
    width: 1170px;
  }
  #header {
    margin: 0 auto;
    width: 1170px;
  }
  #footer {
    width: 1170px;
  }
}

#header {
    align-items: center;
    display: flex;
}

#header-container {
  background: white;
  border-width: 0 0 1px 0;
  border-color: lightgray;
  border-style: solid;
  box-sizing: border-box;
  left:0;
  max-height: 130px;
  min-height: 80px;
  padding: 0 30px;
  position: fixed;
  right:0;
  top:0;
  width:100%;
  z-index: 5;
}

.title {
  flex: 1;
  text-align: center;
}

.brand-logo {
  flex: 1;
}

.nav-menu {
  align-items:center;
  display:flex;
  flex: 1;
  justify-content: flex-end;
}

.nav-menu a {
  color: #4d4f53;
  margin: 15px;
  text-decoration: none;
}

@media (max-width: 768px) {
  #header {
    flex-direction: column;
    padding: 10px 0 10px;
  }

  .title h1 {
    margin: 0;
  }

  .nav-menu {
    text-align: center;
  }

  .nav-menu a {
    margin: 5px 10px;
  }
}

#services {
  border-width: 1px 0 0 1px;
  border-color: lightgray;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#status-header {
  padding-top: 90px;
  text-align: center;
}

p.status-message {
    margin: 0;
}

.graphTabs {
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

.graphTabs button {
  background-color: #F4F4F4;
  border: 1px solid #4d4f53;
  border-color: #4d4f53;
  border-right: none;
  cursor: pointer;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 10px 20px;
}

.graphTabs button.active {
  background-color: #4d4f53;
  color: #FFFFFF;
  cursor: default;
  font-weight: bold;
}

.graphTabs button:first-child {
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.graphTabs button:last-child {
  border-right: 1px solid #4d4f53;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.status-item {
  align-items: center;
  box-sizing: border-box;
  border-width: 0 1px 1px 0;
  border-color: lightgray;
  border-style: solid;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .status-item {
    width: 50%;
  }
}

.status-text {
  display: flex;
  flex-direction: column;
}

.status-icon {
  display: flex;
  flex-direction: column;
}

.section {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}

.section .status-legend {
  display: block;
}

.section .status-icon {
  font-size: 2.441em;
  font-weight: 300;
}

.anchored {
  padding-top: 100px;
}

@media (max-width: 768px) {
  .anchored {
    padding-top: 120px;
  }
}

.pending .status-message {
  animation-name: fade;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-style: italic;
}

.pending .status-icon {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes spin {
    // should be good for all supported browsers:
    // https://caniuse.com/#feat=css-animation
       from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#footer {
  margin: 90px 0 50px 0;
  text-align: center;
}
