body {
    font-family: 'Source Sans Pro', sans-serif;
    width:100%;
    margin: 0;
    padding: 90px 0 0 0;
}

#app {
  margin: 0 auto;
}

p {
    margin: 0;
}

h1 {
  font-size: 2.441em;
  font-weight: 300;
  color: #3f3c30;
  line-height: 1em;
}

h2 {
  font-size: 1.953em;
  font-weight: 300;
  color: #544948;
}

h3 {
  font-size: 1.563em;
  font-weight: normal;
  color: #544948;
}

h3.service-name {
  font-size: 1.25em;
  margin: 5px 0;
}

@media (max-width: 768px) {
  #app {
    padding: 0 10px;
  }
  h1 {
    font-size: 1.653em;
  }
  .display-small {
    display: inherit;
  }
  .display-large {
    display: none;
  }
  .section {
    padding-left: 10px;
    padding-right: 10px;
  }
  .services {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 768px) {
  #app {
    width: 750px;
  }
  #header {
    width: 750px;
    margin: 0 auto;
  }
  #footer {
    width: 750px;
  }
  .display-large {
    display: inherit;
  }
  .display-small {
    display: none;
  }
}
@media (min-width: 980px) {
  #app {
    width: 970px;
  }
  #header {
    width: 970px;
    margin: 0 auto;
  }
  #footer {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #app {
    width: 1170px;
  }
  #header {
    width: 1170px;
    margin: 0 auto;
  }
  #footer {
    width: 1170px;
  }
}


#header {
    display: flex;
    align-items: center;
}

#header-container {
  position: fixed;
  left:0;
  right:0;
  top:0;
  width:100%;
  min-height: 80px;
  max-height: 130px;
  box-sizing: border-box;
  padding: 0 30px;
  background: white;
  border-width: 0 0 1px 0;
  border-color: lightgray;
  border-style: solid;
  z-index: 5;
}

.title {
  flex: 1;
  text-align: center;
}

.brand-logo {
  flex: 1;
}

.nav-menu {
  display:flex;
  flex: 1;
  justify-content: flex-end;
  align-items:center;
}

.nav-menu a {
    margin: 15px;
    text-decoration: none;
    color: gray;
}

@media (max-width: 768px) {
  #header {
    flex-direction: column;
    padding: 10px 0 10px;
  }

  .title h1 {
    margin: 0;
  }

  .nav-menu {
    text-align: center;
  }

  .nav-menu a {
    margin: 5px 10px;
  }
}

#GlobalStatusSummary h1 {
  font-size: 5em;
  margin: 10px 0 0 0;
}

#services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0;
    margin: 50px;
    margin-bottom: 0;
    border-width: 1px 0 0 1px;
    border-color: lightgray;
    border-style: solid;
}

#status-header {
  text-align: center;
}

#status-header p {
  padding: 0 0 10px 0;
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #status-header p {
    max-width: 750px;
  }
}

.graphTabs {
  margin: 5px 0;
}

.graphTabs button {
  border: 1px solid black;
  border-right: none;
  cursor: pointer;
  margin: 0;
  padding: 10px 50px;
}

.graphTabs button.active {
  background-color: #737373;
  color: #FFFFFF;
  cursor: default;
  font-weight: bold;
}

.graphTabs button:first-child {
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.graphTabs button:last-child {
  border-right: 1px solid black;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.status-legend {
    display: flex;
}

.status-legend-item p {
    margin-right: 15px;
}

.status-item {
    width: 100%;
    box-sizing: border-box;
    border-width: 0 1px 1px 0;
    border-color: lightgray;
    border-style: solid;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.status-text {
    display: flex;
    flex-direction: column;
}

.status-icon {
    display: flex;
    flex-direction: column;

}

.section {
    width: 100%;
    box-sizing: border-box;
    text-align: center;

    iframe {
        margin: 0 auto;
        margin-bottom: 50px;
        border: 1px solid lightgray;
    }
}
.section .status-legend {
  display: block;
  font-size: 2.441em;
  font-weight: 300;
  color: #544948;
}
.section .status-icon {
  font-size: 2.441em;
  font-weight: 300;
}


.anchored {
  padding-top: 80px;
}

@media (min-width: 802px) {
    .status-item {
        width: 50%;
    }
}

.pending .status-message {
    font-style: italic;
    animation-name: fade;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.pending .status-icon {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes spin {
    // should be good for all supported browsers:
    // https://caniuse.com/#feat=css-animation
       from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#footer {
  margin: 20px auto;
  text-align: center;
}
