@import "https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap";

:root {
  --stanford-black: #2e2d29;
}

body {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  margin: 0 auto;
}

p {
  line-height: 1.5em;
  margin: 0 auto 15px;
  max-width: 45em;
}

a,
a h3.service-name {
  border-bottom: 1px solid transparent;
  color: #006cb8;
  text-decoration: none;
}

a:hover,
a:focus {
  border-bottom: 1px solid #00548f;
  color: #00548f;
  text-decoration: none;
}

a:active {
  border-bottom: 2px solid #00548f;
  color: #00548f;
  text-decoration: none;
}

h1 {
  color: var(--stanford-black);
  font-size: 2.441em;
  font-weight: 300;
  line-height: 1em;
}

h2,
.status-legend {
  color: #544948;
  font-size: 2.441em;
  font-weight: 300;
  line-height: 1em;
  margin: 0 0 15px 0;
}

h3 {
  color: #544948;
  font-size: 1.563em;
  font-weight: normal;
}

h3.service-name {
  font-size: 1.25em;
  margin: 0;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  h1 {
    font-size: 1.563em;
  }
  h2,
  .status-legend {
    font-size: 1.953em;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 980px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

#header {
  align-items: center;
  display: flex;

  .title {
    flex: 1;
    text-align: center;
    white-space: nowrap;
  }

  .brand-logo {
    flex: 1;
    min-width: 15rem;
    height: 2.441em;
    display: inline-block;

    background-color: var(--stanford-black);
    mask-image: url("https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2024-12-16/styles/StanfordLibraries-logo.svg");
    mask-repeat: no-repeat;
    mask-position: 0 center;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;

    &:hover,
    &:focus,
    &:active {
      border-bottom: none;
      text-decoration: none;
    }
  }

  .nav-menu {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
}

#header-container {
  background: white;
  border-width: 0 0 1px 0;
  border-color: lightgray;
  border-style: solid;
  box-sizing: border-box;
  left: 0;
  margin-bottom: 3rem;
  /* max-height: 130px;
  min-height: 80px; */
  padding: 0 30px;
  position: sticky;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.nav-menu a {
  color: #4d4f53;
  margin-inline: 15px;
  text-decoration: none;
}

@media (max-width: 768px) {
  #header {
    flex-direction: column;
    padding: 10px 0 10px;
  }

  .title h1 {
    margin: 0;
  }

  .nav-menu {
    text-align: center;
  }

  .nav-menu a {
    margin: 5px 10px;
  }
}

#services {
  border-width: 1px 0 0 1px;
  border-color: lightgray;
  border-style: solid;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#status-header {
  text-align: center;
}

p.status-message {
  margin: 0;
}

.graphTabs {
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

.graphTabs .tab {
  background-color: #f4f4f4;
  border: 1px solid #4d4f53;
  border-color: #4d4f53;
  border-right: none;
  cursor: pointer;
  font-size: 1rem;
  margin: 0;
  padding: 10px 20px;
}

.graphTabs .tab.active {
  background-color: #4d4f53;
  color: #ffffff;
  cursor: default;
  font-weight: bold;
}

.graphTabs .tab:first-child {
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.graphTabs .tab:last-child {
  border-right: 1px solid #4d4f53;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.status-item {
  align-items: center;
  box-sizing: border-box;
  border-width: 0 1px 1px 0;
  border-color: lightgray;
  border-style: solid;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .status-item {
    width: 50%;
  }
}

.status-text {
  display: flex;
  flex-direction: column;
}

.status-icon {
  display: flex;
  flex-direction: column;
}

.section {
  box-sizing: border-box;
  margin-top: 4rem;
  text-align: center;
  width: 100%;
}

.section .status-legend {
  display: block;
}

.section .status-icon {
  font-size: 2.441em;
  font-weight: 300;
}

.pending .status-message {
  animation-name: fade;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-style: italic;
}

.pending .status-icon {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spin {
  /* should be good for all supported browsers:
     https://caniuse.com/#feat=css-animation */
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#footer {
  margin-bottom: 50px;
  margin-top: 90px;
  text-align: center;
  p {
    max-width: 50em;
  }
}

.twitterFeed {
  display: flex;
  justify-content: center;
}
